# Data Streaming
kafka-python

# Data Processing
pandas
numpy

# Machine Learning & Forecasting
scikit-learn
sklearn
matplotlib
statsmodels
arch
tensorflow
pickle

# Database (Snowflake)
snowflake-connector-python
snowflake-sqlalchemy
snowflake-snowpark-python

plotly
# API Requests
requests

# Dashboard API (if needed)
fastapi
uvicorn

# Environment Variables
python-dotenv

flask

